body {
  background-image: url('images/waves.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.formulario {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 45px;
  text-align: center;
  margin-top: -50px;
}

.form-floating label {
  color: #555;
}

.form-control:focus {
  border-color: #E21982;
  box-shadow: 0 0 0 0.25rem rgba(226, 25, 130, 0.25);
}

.btn-primary {
  background-color: #E21982;
  border-color: #E21982;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #C1166F;
  border-color: #C1166F;
}

a:hover {
  color: #C1166F;
}

@media (max-width: 576px) {
  .formulario {
    padding: 30px;
  }

  .rounded-circle {
    max-width: 80px;
  }

  h1 {
    font-size: 24px;
  }

  label {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
